@import '@fusuma/client/assets/style/themes/webpack.css';
@import '@fusuma/client/assets/style/code.css';

pre {
  background-color: black;
  text-align: left;
  overflow: auto;
  padding: 1rem;
  border-radius: 1rem;
}

code {
  color: var(--color-title);
}

code .keyword {
  color: palevioletred;
}

code .string {
  color: palegreen;
}

code .operator,
code .punctuation {
  color: palegoldenrod;
}

p,
ul {
  margin: 1rem 0 1.55rem 0;
}

.react-component {
  background-color: black;
  padding: 2rem;
  border-radius: 1rem;
}

.react-component button {
  margin-right: 1rem;
}

.react-component button:last-of-type {
  margin: 0;
}
