@import '@fusuma/client/assets/style/themes/webpack.css';

p,
ul {
  margin: 1rem 0 1.55rem 0;
}

.react-component {
  background-color: black;
  padding: 2rem;
  border-radius: 1rem;
}

.react-component button {
  margin-right: 1rem;
}

.react-component button:last-of-type {
  margin: 0;
}
